html {
    scroll-behavior: smooth;
}

@font-face{
    font-family: Lato;
    src: url("fonts/Lato/Lato-Regular.ttf");
    font-style: normal;
}

@font-face{
    font-family: Montserrat;
    src: url("fonts/Montserrat/Montserrat-Regular.ttf");
    font-style: normal;
}

.header{
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    background: #333333;
    color: white;
    font-family: Montserrat;
    min-width: 230px;
}

.header-main{
    font-size: 28pt;
    margin-bottom: 15px;
}
.header-sub{
    font-size: 12pt;
    padding-top: 0px;
    margin-top: 0px;
    color: #bababa;
}

hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 1em;
    border-width: 0px;
    height: 1px;
    background-color: #666;
}

nav {
    box-shadow: 2px 0px 3px #3f3f3f;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width .25s;
}
@media screen and (max-height: 450px){
    .menu {padding-top: 15px;}
} 
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
nav li {
    font-size: 14pt;
    float: left;
    width: 250px;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}
nav li a:hover {
    transition: .25s;
    background-color: #666;
}
nav .active {
    background-color: #49738e;
}
nav .active a:hover {
    background-color: #49738e;
}
nav .semiactive{
    background-color: #49738e;
}


.content {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
    margin-left: 250px;
    transition: margin-left .25s;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2rem;
}


body {
    font-family: Montserrat;
    font-size: 12pt
}

a {
    color: #49738e;
    text-decoration: none;
}
.intext-link:hover{
    color: #333333;
}

#icons{
    min-width: 250px;
}
.fa {
    color: #bababa;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.fa:hover{
    transition: .25s;
    opacity: .7;
}

.project-title{
    color:black;
}
.project-title:hover{
    color: #a9a9a9
}






/* Dropdown Button */
.dropbtn {
  background-color: #333333;
  color: white;
  padding: 0px;
  font-size: 14pt;
  font-family: Montserrat;
  border: none;
  width: 250px;
}

.dropbtn .active:hover{
    background-color: #49738e;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #454545;
/*  min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #666;
}

.dropdown-content .active:hover{
    background-color: #49738e;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #454545;}
.dropdown:hover .dropbtn.active {background-color: #49738e;}



form{
    display: inline-block;
}
button {
  background-color: #49738e; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    cursor: pointer;
}
.portfolio-button{
    border-radius: 10px;
}
.portfolio-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.portfolio-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.portfolio-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.portfolio-button:hover span {
  padding-right: 50px;
}

.portfolio-button:hover span:after {
  opacity: 1;
  right: 0;
}

.portfolio-button:active{
    transform: translateY(5px);
}



.row {
  display: flex;
}

.column {
  flex: 50%;
  margin: 10px;
}



/* Position and style the close button (top right corner) */
nav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  color: #bababa;
}
nav .closebtn:hover{
    transition: .25s;
    opacity: .7;
}
.openbtn{
    margin-top: 20px;
    margin-left: 35px;
    padding: 0px;
    font-size: 30px;
    cursor: pointer;
    color: #bababa;
    background-color: white;
    position: fixed;
    color: #333333;
    left: 0;
}
#smallnav {
    opacity: 0;
    display: none;
    margin: 0 20px;
    -webkit-animation: fadeIn ease 1s;
    -webkit-animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}