html {
    scroll-behavior: smooth;
}

@font-face{
    font-family: Lato;
    src: url("fonts/Lato/Lato-Regular.ttf");
    font-style: normal;
}

@font-face{
    font-family: Montserrat;
    src: url("fonts/Montserrat/Montserrat-Regular.ttf");
    font-style: normal;
}

.header{
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    background: #333333;
    color: white;
    font-family: Montserrat;
}

.header-main{
    font-size: 28pt;
    margin-bottom: 15px;
}
.header-sub{
    font-size: 12pt;
    padding-top: 0px;
    margin-top: 0px;
    color: #bababa;
}
.header-mini{
    vertical-align: middle;
    color: white;
/*    color: black;*/
/*    font-size: 20pt;*/
    font-size: 26pt;
    margin-top: 10px;
    padding-left: 10%;
    padding-bottom: 0;
    text-align: left;
    display: inline-block;
    font-family: Montserrat;
}
.mobile-menu #icons{
    margin-left: 12px;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 0;
/*    margin: auto;*/
    width: 100%;
}
.mobile-menu #icons a{
    padding: 20px;
}
#smallnav .header-sub{
/*    vertical-align: middle;*/
    font-size: 10pt;
    padding-left: 20px;
    display: inline-block;
}

hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 1em;
    border-width: 0px;
    height: 1px;
    background-color: #666;
}

#mainpic{
    max-width: 50%;
    height: auto;
    margin:0px 20px 20px 0px; 
    border-radius: 5%; 
    box-shadow: 0 0 8px 8px white inset;
    float: left;
}

nav {
    box-shadow: 1px 0px 2px #3f3f3f;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    padding-top: 20px;
}
@media screen and (max-height: 450px){
    #sidebar {padding-top: 15px;}
/*    .openbtn{margin-left: 15px;}*/
} 
@media screen and (max-width: 800px){
    nav .closebtn{
/*        display: block;*/
    }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
nav li {
    font-size: 14pt;
    float: left;
    width: 250px;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}
nav li a:hover {
/*    transition: .1s;*/
    background-color: #666;
}
nav .active {
    background-color: #49738e;
}
nav .active a:hover {
    background-color: #49738e;
}
nav .semiactive{
    background-color: #49738e;
}
#sidebar{
/*    transition: width .25s;*/
}


.content {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
    margin-left: 250px;
/*    min-width: 450px;*/
/*    transition: .25s;*/
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2rem;
}


body {
    font-family: Montserrat;
    font-size: 12pt;
    line-height: 1.5;
}

a {
    color: #49738e;
    text-decoration: none;
}
.intext-link:hover{
    text-decoration: underline;
}

#icons{
/*    min-width: 250px;*/
}
.fa {
    color: #bababa;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.fa:hover{
    transition: .25s;
    opacity: .7;
}

.project-title{
    color:black;
}
.project-title:hover{
    color: #a9a9a9
}






/* Dropdown Button */
.dropbtn {
  background-color: #333333;
  color: white;
  padding: 0px;
  font-size: 14pt;
  font-family: Montserrat;
  border: none;
  width: 250px;
}

.dropbtn .active:hover{
    background-color: #49738e;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #454545;
/*  min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #666;
}

.dropdown-content .active:hover{
    background-color: #49738e;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #454545;}
.dropdown:hover .dropbtn.active {background-color: #49738e;}



form{
    display: inline-block;
}
button {
  background-color: #49738e; 
  border: none;
  color: white;
/*  padding: 15px 32px;*/
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    cursor: pointer;
}
.portfolio-button{
    margin: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.portfolio-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.portfolio-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.portfolio-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.portfolio-button:hover span {
  padding-right: 50px;
}

.portfolio-button:hover span:after {
  opacity: 1;
  right: 0;
}

.portfolio-button:active{
    transform: translateY(5px);
}



.row {
  width: 100%;
  display: flex;
}

.column {
/*  width: 30%;*/
/*  flex: 50%;*/
  margin: 10px;
}




/* Position and style the close button (top right corner) */
nav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  color: #bababa;
}
nav .closebtn:hover{
    transition: .25s;
    opacity: .7;
}
.openbtn{
    margin-top: 10px;
    margin-right: 5%;
    padding: 0px;
    font-size: 30px;
    cursor: pointer;
    color: #bababa;
    background-color: #333333;
/*    color: #3f3f3f;*/
/*    background-color: white;*/
    position: relative;
    float: right;
}
.openbtn:hover{
    transition: .25s;
    opacity: .7;
}
#smallnav {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: #333333;
/*    opacity: 0;*/
    display: none;
    
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 10px;
/*    box-shadow: 0px 2px 3px #3f3f3f;*/

    
/*    margin: 0px 20px;*/
/*    margin-right: 10%;*/
/*
    -webkit-animation: fadeIn ease .5s;
    -webkit-animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
*/
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.9;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.9;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.9;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.9;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.9;}
}

@keyframes fadeOut {
    0% {opacity:.9;}
    100% {opacity:0;}
}

@-moz-keyframes fadeOut {
    0% {opacity:.9;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:.9;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
    0% {opacity:.9;}
    100% {opacity:0;}
}

@-ms-keyframes fadeOut {
    0% {opacity:.9;}
    100% {opacity:0;}
}

#overlay-menu{
    opacity: 0;
    pointer-events: none;
    
    transition: opacity .25s ease-in;
    -webkit-transition: opacity .25s  ease-in;
    -moz-transition: opacity .25s  ease-in;
    -o-transition: opacity .25s  ease-in;
}

.mobile-menu{
    padding-top: 50px;
    top: 95px;
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    left: 0;
}

.change #overlay-menu{
    opacity: .9;
    pointer-events: auto;
}
.mobile-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mobile-menu li {
    width: 100%;
    list-style-type: none;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 16pt;
    margin: auto;
}
.mobile-menu li a h2{
    text-align: center;
    color: #333333;
    margin: 3px;
}
.mobile-menu .active {
    color: #49738e;
}


.blurry-load{-webkit-filter:blur(8px);filter:blur(8px)}@-webkit-keyframes blurOut{0%{-webkit-filter:blur(20px);filter:blur(20px)}50%{-webkit-filter:blur(10px);filter:blur(10px)}to{-webkit-filter:blur(0);filter:blur(0)}}@keyframes blurOut{0%{-webkit-filter:blur(20px);filter:blur(20px)}50%{-webkit-filter:blur(10px);filter:blur(10px)}to{-webkit-filter:blur(0);filter:blur(0)}}.blur-out{-webkit-animation:blurOut .5s ease-out;animation:blurOut .5s ease-out}@-webkit-keyframes shimmer{0%{background-position:-100vw 0}to{background-position:100vw 0}}@keyframes shimmer{0%{background-position:-100vw 0}to{background-position:100vw 0}}.no-blur{-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-name:shimmer;animation-name:shimmer;-webkit-animation-timing-function:linear;animation-timing-function:linear;background:#f6f7f8;background:gradient(linear,left top,right top,color-stop(8%,#eee),color-stop(18%,#ddd),color-stop(33%,#eee));background:linear-gradient(90deg,#eee 8%,#ddd 18%,#eee 33%)}


#hamburgerMenu{
    margin-top: 20px;
    margin-right: 5%;
    padding: 0px;
    font-size: 30px;
    cursor: pointer;
    color: #bababa;
    background-color: #333333;
    float: right;
    vertical-align: middle;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: #bababa;
  margin: 6px 0;
  transition: 0.25s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 5px) ;
  transform: rotate(-45deg) translate(-6px, 5px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -5px) ;
  transform: rotate(45deg) translate(-6px, -5px) ;
}

#PWHeader{
    padding-top: 10px;
    margin: auto;
    width: 75%;
    border-radius: 10px;
    background-color: #333333;
}
.block{
/*
    padding: 20px;
    background-color: #bababa;
    border-radius: 10px;
*/
/*    border: solid 1px #333333;*/
/*    border-color: black;*/
}

/*
#professionalPortfolioButton{
    width: 50%;
}*/
